<h1 style="text-align: center; font-weight: bolder;">{{title | uppercase}}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 mx-0 px-0">
            <div class="stepBox">
                <img src="../../../assets/pictures/prizon9.jpg" style="height:224px"/>
            </div>
        </div>
        <div class="col-lg-3 mx-0 px-0">
            <div class="stepBox">
              <a routerLink="/beitilajabu" target="_blank"><img src="../../../assets/pictures/prizon1.jpg" style="height:224px"/></a>
            </div>
        </div>
        <div class="col-lg-3 mx-0 px-0">
            <div class="stepBox">
                <img src="../../../assets/pictures/prizon3.jpg" style="height:224px"/>
            </div>
        </div>
        <div class="col-lg-3 mx-0 px-0">
            <div class="stepBox">
                <img src="../../../assets/pictures/prizon6.jpg" style="height:224px"/>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3 mb-5">
    <div class="row">
        <div class="col-lg-5">
            <mat-card class="example-card">
                <mat-card-title>Prison Island Tour in Zanzibar</mat-card-title>
                <mat-card-content>
                  <p>{{ longText }}</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-footer>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
              </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="example-card">
                <mat-card-title>Description</mat-card-title>
                <mat-card-content>
                  <h3>Distance &nbsp;<mat-icon> directions</mat-icon></h3>
                  <p>There is a short distance from the sea level to Beit al-Ajaib. Is just 2 to 3 minutes by walking.Beit al Ajaib can be seen from a great distance while approaching Zanzibar from the sea.</p>
                  <h3>Location &nbsp;<mat-icon>room</mat-icon></h3>
                  <p>Stone Town</p>
                  <h3>Entrance Fees &nbsp;<mat-icon> fastfood</mat-icon></h3>
                  <p>100 USD</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-footer>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
              </mat-card>
            </div>
        <div class="col-lg-4">
            <mat-card class="example-card">
                <mat-card-title>Map Area </mat-card-title>
                <mat-card-content>
                  <p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d253854.96847355695!2d39.17890374686115!3d-6.199713691798837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sPrison%20Island%20Tour%20in%20Zanzibar%20map!5e0!3m2!1sen!2stz!4v1664466212534!5m2!1sen!2stz" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-footer>
                  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
                  <!-- <mat-icon> my_location</mat-icon> -->
                </mat-card-footer>
              </mat-card>
            </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="banner">
      <div class="content">
        <a routerLink="/payment">GO TO PAY <mat-icon>arrow_right_alt</mat-icon></a>
      </div>
  </div>
  </div>
</div>

