<div class="container mt-3">
    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/11.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/10.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/joz1.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/mahrubi-ruins-zanzibar.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img mat-card-image src="../../../assets/pictures/joz2.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/kizi1.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/joz3.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/pwani1.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/prizon1.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/d5.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/cf.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/bait1.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/kizi4.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/joza3.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/prizon2.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/kizi3.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/maruhubi3.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/joza1.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/firstone.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/joz6.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/pwani5.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/pwani4.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/jazani2.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/maruhubi2.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/maruhubi1.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/pwani2.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
                <a class="remove" routerLink="/beitilajabu"><img src="../../../assets/pictures/joz4.jpg" alt="Beit al-Ajaib - The House of Wonders Museum in Zanziba" style="height:224px"></a>
            </div>
        </div>
    </div>
</div>
