<div class="footer mt-3">
    <div class="row">
        <div class="col-lg-4">
            <h1>znzhsa</h1>
            <p>Good to know our historical site </p>
        </div>
        <div class="col-lg-4">
            <a routerLink="home">Home</a>
            <a routerLink="menu">Gallary</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-4">
            <a routerLink="#" target="_blank"><i class="bi bi-facebook"></i>Facebook</a>
            <a routerLink="#" target="_blank"><mat-icon>subscriptions</mat-icon></a>
            <a routerLink="#" target="_blank"><mat-icon>facebook</mat-icon> </a>
            <a routerLink="#" target="_blank"><i class="bi bi-youtube"></i>Facebook</a>
        </div>
    </div>
    
</div>
