<div class="container-fluid">
  <!-- <app-home></app-home> -->
  <!-- <app-registration></app-registration> -->
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-foters> </app-foters>
  <!-- <app-footer></app-footer> -->
  <!-- <app-welcome></app-welcome> -->
  <!-- <app-admin-dashboard></app-admin-dashboard> -->
  <!-- <app-admin-view-all-madrasa></app-admin-view-all-madrasa> -->
  <!-- <app-admin-create-madrasat></app-admin-create-madrasat> -->
  <!-- <app-view-report></app-view-report> -->
</div>


