<h1 style="text-align: center; font-weight: bolder;">{{title | uppercase}}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 mx-0 px-0">
            <div class="stepBox">
                <img src="../../../assets/pictures/cf.jpg"style="height:224px"/>
            </div>
        </div>
        <div class="col-lg-3 mx-0 px-0">
            <div class="stepBox">
              <a routerLink="/beitilajabu" target="_blank"><img src="../../../assets/pictures/ang4.jpg"style="height:224px"/></a>
            </div>
        </div>
        <div class="col-lg-3 mx-0 px-0">
            <div class="stepBox">
                <img src="../../../assets/pictures/ang2.jpg"style="height:224px"/>
            </div>
        </div>
        <div class="col-lg-3 mx-0 px-0">
            <div class="stepBox">
                <img src="../../../assets/pictures/joz6.jpg"style="height:224px"/>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3 mb-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                <mat-card>
                    <mat-card-title> MISSION</mat-card-title>
                <mat-card-content>
                    <p>
                        To declare the tourist activities in Zanzibar and make easy for every tourist to understand the historical site where are found and the impact of each allocation and quality services in order to contribute the significance to social-economic development in Zanzibar.
                    </p>
                </mat-card-content>
              </mat-card>
                <br>
              <mat-card>
                <mat-card-title> VISSION</mat-card-title>
            <mat-card-content>
                <p>
                    Zanzibar island to become the first and famous and high class in the tourism activity in world wide after five(5) years later.<br><b>Great vision without great people is irrelevant. Lets work together.</b>
                </p>
            </mat-card-content>
          </mat-card>

                </div>
                <div class="col-lg-6">
                    <mat-card>
                        <mat-card-title> DESCRIPTION</mat-card-title>
                    <mat-card-content>
                        <p class="pt-1 pb-1">
                            In Zanzibar, tourism industry has a huge positive impact in Zanzibar (Unguja and Pemba). Tourism is the top income generator in the islands. The Government of Zanzibar promoting the industry with the official tourist page that regarding tourism to become one of the top tourism destinations of the Indian Ocean.
                        </p>
                        <p>
                            <b>(ZnzHSA)</b> <br>
                            This Is the system that will help the tourists and residence who don’t know the history of Zanzibar to understand and  identify the historical site allocation in Zanzibar. 
                        </p>
                    </mat-card-content>
                  </mat-card>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <mat-card class="example-card">
                <mat-card-title>CONTACTS</mat-card-title>
                <mat-card-content>
                    <h3><b>Address</b></h3>
                  
                  <p>Mnazi mmoja, <br>Zanzibar, Tanzania</p>
                  
                  <h3><b>Contact</b></h3>
                  <p>0242231250</p>
                  
                  <h3><b>Email:</b></h3>
                  <p>info@utaliismz.go.tz</p>

                </mat-card-content>
              </mat-card>
            </div>
    </div>
</div>




