<div class="container-fluid mt-0 mb-5" id="mained">
    <div class="container mt-3">
        <div class="row mt-3">
             <div class="col-lg-2 ml-5 px-5"></div>
             <div class="col-lg-8">
                 <mat-card class="example-card ">
                     <div class="card mb-2 col-lg-12" style="align-items: center;">
                     </div>
                     <div class="row">
                         <div class="col-md-6 ">
                             <div class="form-group" style="padding: 10px;">
                                 <label for="name">FULL NAME :</label> &nbsp; <label>Khamis Mussa Khamis</label>
                             </div>
                             <div class="form-group" style="padding: 10px;">
                                 <label for="name">NATIONALITY :</label> &nbsp; <label>Tanzania </label>
                             </div>
                             <div class="form-group" style="padding: 10px;">
                                <label for="name">PHONE NUMBER :</label> &nbsp; <label>0655800314</label>
                            </div>
                            <div class="form-group" style="padding: 10px;">
                                <label for="name">AMOUNT :</label> &nbsp; <label> USD &nbsp; 100</label>
                            </div>
                         </div>
             
                         <!-- <div class="col-md-6">
                             <div class="form-group" style="padding: 10px;">
                                 <label for="name">PHONE NUMBER :</label> <br> <br> <label>0655800314</label>
                             </div>
                             <div class="form-group" style="padding: 10px;">
                                 <label for="name">AMOUNT :</label> <br> <br> <label>100</label>
                             </div>
                         </div> -->
                     </div>
                 </mat-card>
             </div>
             <div class="col lg-2"></div>
        </div>
     </div>
</div>
